@import '../../_variables.scss';

.imageLoaderContainer{
    margin-bottom: 20px;
    padding: 0px 30px;
    .imageContainer{
        img{
            max-width: 450px;
            width: 100%;
            box-shadow: 0px -1px 15px 5px rgba(0,0,0,0.2);
        }  
    }
    .dataContainer{
        text-align: left;
        font-size: 12px;
        div:first-child{
            border-top: 1px solid $lightgray; 
        }
        div{
            border-bottom: 1px solid $lightgray;
            padding: 10px 0px;
            .key{
                background-color: $keyColor;
                color: $white;
                padding: 2px;
            }
        }
    }
}