<div class="imageLoaderContainer text-center">
    <div class="row">
        <div class="imageContainer col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <img [src]="imageData?.upload ? imageData?.thumbnail : '../assets/images/large/' + imageData?.image " />
        </div>
        <div class="dataContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div><span class="key">TITLE</span> {{imageData?.title}}</div>
            <div><span class="key">DESCRIPTION</span> {{imageData?.description}}</div>
            <div><span class="key">COST</span> ${{imageData?.cost}}</div>
            <div><span class="key">ID#</span> {{imageData?.id}}</div>
            <div><span class="key">THUMBNAIL FILE</span> {{imageData?.thumbnail}}</div>
            <div><span class="key">LARGE IMAGE FILE</span> {{imageData?.image}}</div>
        </div>
    </div>
</div>
