<button (click)="showMenu()" type="button" class="btn btn-primary">
    addThumbnail
  </button>
  
  <!-- Modal -->
  <div *ngIf="shouldShowMenu">
    <form [formGroup]="imageForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" formControlName="id">
        </div>
    
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title">
        </div>
      
        <div class="form-group">
          <label>Cost</label>
          <input type="text" class="form-control" formControlName="cost">
        </div>
    
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
    
        <div class="form-group">
            <label>Thumbnail</label>
            <input type="text" class="form-control" formControlName="thumbnail">
        </div>
    
        <div class="form-group">
            <label>Image</label>
            <input type="text" class="form-control" formControlName="image">
        </div>
    
        <button class="btn btn-danger btn-block" type="submit">Submit</button>
      </form>
  </div>
