<div class="templatePreviewContainer">
    <div class="imageLoader">
        <app-image-loader [imageData]="imageToLoad"></app-image-loader>
    </div>

    <div class="carouselContainer">
        <div class="carouselInnerContainer">
            <span [class.disabled]="disablePrevious" class="previousBtn" (click)="onPrevious()"></span>
            <div class="carouselImageContainer">
                <div class="carouselImages" *ngFor="let meta of pageImages">
                    <img [ngClass]="{'selectedImage': meta.id === currentSelectionId}" (click)="onSelectImage(meta)" [src]="meta.upload ? meta.thumbnail : '../assets/images/thumbnails/' + meta.thumbnail " />
                    <span [ngClass]="{'selectedId': meta.id === currentSelectionId}" class="metaId">{{meta.id}}</span>
                </div>
            </div>
            <span [class.disabled]="disableNext" class="nextBtn" (click)="onNext()"></span>
        </div>
    </div>
</div>

<app-file-uploader (onAddImage)="onAddImage($event)"></app-file-uploader>

