@import '../../_variables.scss';

@mixin controls-image($img){
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url($img);
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

.carouselContainer{
    margin-bottom: 10px;
    text-align: center;
    min-height: 150px;
    .carouselInnerContainer{
        border: 1px solid $black;
        border-radius: 5px;
        .previousBtn{
            @include controls-image('../../assets/images/previous.png');
        }
        .nextBtn{
            @include controls-image('../../assets/images/next.png');
        }
        .carouselImageContainer{
            display: inline-block;
            min-width: 60%;
            margin: 0px 5px;
            .carouselImages{
                display: inline-block;
                margin: 10px;
                img{
                    cursor: pointer;
                    margin-bottom: 2px;
                    max-width: 200px;
                }
                .metaId{
                    display: table;
                    margin: auto;
                    width: 50%;
                    border-radius: 20px;
                }
            }
        }
    }
    
}

.disabled{
    pointer-events: none;
    opacity: 0.1; 
}

.selectedImage{
    border: 5px solid $imageBorder;
    border-radius: 5px;
}
.selectedId{
    background-color: $imageBorder;
    color: $white;
}